/* Reset */

html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  max-width: 768px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  display: inline-block;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* */

header {
  position: sticky;
  top: 0;
  left: 0;
  background: #fff;
  padding: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 999;
}

nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0
}

nav > ul li {
  margin: .5em;
  text-align: center;
}

nav > ul li a {
  color: #f98001;
  font-weight: bold;
  padding: .4em .8em;
  border-radius: 1em;
}

nav > ul li a:hover, 
nav > ul li a:active,
nav > ul li a.active {
  /*background: #faf9f9;*/
  background: whitesmoke;
}

header h1 {
  padding: .3em .6em;
  font-size: 1.2em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  color: #fff;
  text-align: center;
  margin: .5em;
  background: #f98001;
}

section {
  margin: .2em 1.2em;
  padding: .6em;
  scroll-margin-top: 100px;
}

section h1 {
  margin: .4em auto;
  margin-bottom: .6em;
  padding: .3em;
  font-size: 1.2rem;
  text-align: center;
  border-bottom: .2em solid #eee;
  width: max-content
}

footer {
  text-align: center;
  color: #bbb;
  font-size: small;
  padding: 1em;
}

figure.proj {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: .2em;
}

figure.proj > figcaption {
  background: #eee;
  color: #555;
  padding: .2em .8em;
  margin: .8em;
  border-radius: 1em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type=text], input[type=email], textarea {
  display: block;
  width: 100%;
  padding: 1em;
  color: #555;
  margin: .4em;
  border: 1px solid #bbb;
  border-radius: .5em;
  box-shadow: 0 .1em .1em #ccc;
}

textarea {
  min-height: 250px;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
  transform: translateY(.2em);
  outline: 0;
  box-shadow: none;
}

input[type=text]:invalid, input[type=email]:invalid, textarea:invalid {
  border-color: red;
  color: darkred;
  box-shadow: 0 .1em .1em lightred;
}

label {
  text-align: center;
  display: inline-block;
  padding: .5em;
}

button {
  margin: .5em auto;
  display: block;
  padding: .8em;
  background: #fff;
  color: #f98001;
  border: 2px solid #f98001;
  text-align: center;
  font-weight: bold;
  border-radius: .5em;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

button:active, button:hover {
  background: #f98001;
  color: #fff;
}

button:focus {
  outline: 0
}
